<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body class="bg-light">
    <%- include('./partials/nav.ejs') %> 

  <div class="containter-fluid">
    <div class="text-left"> 
      <div class="containter-fluid">
        <div id="Course Content">
            <h2><%= course.courseTitle %></h2>
            <div id="Course Body">
                <%= course.courseDescription  %> 
            </div>
            <button><a class="delete" data-doc="<%= course.id %>">Delete</a></button>
        </div>

    
        <%- include('./partials/footer.ejs') %>
   
            <script>
                const trashcan = document.querySelector('a.delete');
                trashcan.addEventListener('click', (e) =>{
                    const endpoint = `/viewcourses/${trashcan.dataset.doc}`;
                    fetch(endpoint,{
                        method: 'DELETE',
                    })
                    .then((response) => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch(err => console.log(err));
                    
                  })
        </script>
        </div>
      <%- include('./partials/footer.ejs') %>
    </div>
    
  </div>
  
</body>
</html>